<html>
    <head>
        <title>Rishabh's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Rishabh's Blog</a></h1>
        </div>

        <div>
            <p>published first blog</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Hello</p>
        </div>

        <div>
            <p>published second blog</p>
            <h2><a href="">My second post</a></h2>
            <p>What it likes to be a zero?</p>
        </div>
    </body>
</html>
